@font-face {
    font-family: 'TT Norms Pro';
    src: url('./TT Norms Pro Trial Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url('./TT Norms Pro Trial Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url('./TT Norms Pro Trial Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url('./TT Norms Pro Trial Black.ttf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url('./TT Norms Pro Trial ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url('./TT Norms Pro Trial Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms Pro';
        src: url('./TT Norms Pro Trial Thin.ttf');
    font-weight: 200;
    font-style: normal;
}